.c-container {
   background:rgb(242, 242, 242);
}
.header-column {
    padding: 0 2rem;
}
.field-title {
    font-size: .55rem;
    line-height: 1.25;
    color: #03151b;
    margin-bottom: .25rem;
}
.lgc-bg {
    background-color: rgb(242, 242, 242);
}
